/* adress-nav */

.adress-nav {
    display: flex;
    margin-left: auto;
}

.adress-nav .adress-nav__item:not(:last-child) {
    margin-right: 50px;
}

.adress-nav .adress-nav__link {
    display: flex;
    align-items: center;

    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color var(--time-animation) var(--timing-function);
}

.adress-nav .adress-nav__link:hover,
.adress-nav .adress-nav__link:focus {
    color: var(--accent-color);
}

.adress-nav__icon {
    margin-right: 10px;
    --accent-color: currentColor;
}