/* modal button close */

.modal__btn--close {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;

    background-color: var(--primary-white-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transform: translate(-8px, 8px);
    transition: color var(--time-animation) var(--timing-function);
}

.modal__btn-icon {
    fill: currentColor;
}

.modal__btn--close:hover,
.modal__btn--close:focus {
    color: var(--accent-color);
}